{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-59RJJ2N');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    <meta name="robots" content="{% block robots %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/20a54c19b6.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59RJJ2N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
        <nav class="navbar navbar-inverse fixed-top" id="top-bar">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img id="logo" src={% static 'img/_Kliff_logo_f7f7f7.png' %} alt="Kliff Digital">
                </a>
                <div class="nav navbar-nav navbar-right">
                    {% block language %}{% endblock %}
<!--                     <div id="language-box">                                        -->
<!--                         <a href="/en" class="language">                            -->
<!--                             <img src={% static 'img/en_icon.png' %} alt="English"> -->
<!--                         </a>                                                       -->
                        
<!--                    </div>                                                      -->
<!--                    <div id="phone-number-box">                                 -->  
<!--                        <a href="tel:+55 16 991 708 414" class="phone-number">  -->  
<!--                            <i class="fas fa-phone"></i>                        -->  
<!--                            <span>+55 16 991 708 414</span>                     -->  
<!--                        </a>                                                    -->  
<!--                    </div>>                                                     -->  
                </div>
                
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div id="copy-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>{% block copyright %}{% endblock %} <a href="#" target="_blank">Kliff Digital</a> &copy; 2020</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->



    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>


<!-- Kliff Colors Pallet
     #393e46 light grey
     #5c636e mild grey
     #f7f7f7 dark grey
     #f8b500 yellow
-->